@import url("https://fonts.googleapis.com/css2?family=Teko:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bungee+Outline&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    h1,
    h2 {
        @apply font-header;
    }
    div {
        @apply text-xl;
    }
    body,
    #root {
        height: 100vh;
    }
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: #f59e0b;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #d97706;
}
